<%- model_class = Socioeduk::RacaCor -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_raca_cor', default: Socioeduk::RacaCor.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_raca_cor', default: Socioeduk::RacaCor.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_raca_cor_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:descricao) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_raca_cores.each do |socioeduk_raca_cor| %>
                <tr>
                                    <td><%= socioeduk_raca_cor.descricao %></td>
                                    <td>
                    <%= link_to_show(socioeduk_raca_cor) %>
                    <%= link_to_edit(edit_socioeduk_raca_cor_path(socioeduk_raca_cor)) %>
                    <%= link_to_delete(socioeduk_raca_cor) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
