<% content_for :title do %>
  <%= t('.title', default: @socioeduk_audiencia.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_audiencia.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    
                  
                  <th><%= SocioedukAudiencia.human_attribute_name :socioeduk_processo %></th>
                                    
                  
                  <th><%= SocioedukAudiencia.human_attribute_name :socioeduk_comarca %></th>
                                    
                  
                  <th><%= SocioedukAudiencia.human_attribute_name :numero_processo %></th>
                                    
                  
                  <th><%= SocioedukAudiencia.human_attribute_name :datahora %></th>
                                    
                  
                  <th><%= SocioedukAudiencia.human_attribute_name :observacao %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_audiencia.socioeduk_processo %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_audiencia.socioeduk_comarca %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_audiencia.numero_processo %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_audiencia.datahora %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_audiencia.observacao %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_audiencias_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_audiencia_path(@socioeduk_audiencia), class: 'btn btn-success' %>
