￼￼￼￼￼<%= form_for(@socioeduk_saude_jovem_ocorrencia, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @socioeduk_saude_jovem_ocorrencia %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-12 col-offset-1">
      <%= f.label :socioeduk_jovem_recepcao %>
      <%= f.collection_select :socioeduk_jovem_recepcao_id,  Socioeduk::Jovem.saude_jovem_cumprindo_medida, :id, :nome , {include_blank: '--selecione--'}, class: 'form-control', required: "true" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-offset-1">
      <%= f.label :socioeduk_tipo_atendimento %>
      <%= f.collection_select :socioeduk_tipo_atendimento_id,  Socioeduk::TipoAtendimento.all, :id, :descricao , {include_blank: '--selecione--'}, class: 'form-control', required: "true" %>
    </div>
    <div class="col-sm-4 col-offset-1">
      <%= f.label :data %>
      <%= f.text_field :data, class: 'form-control maskdata' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12 col-offset-1">
      <%= f.label :observacao %>
      <%= f.text_area :observacao, class: 'form-control', style:"height: 190px;" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), socioeduk_saude_jovem_ocorrencias_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
