<%- model_class = Socioeduk::SaudeJovemOcorrencia -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_saude_jovem_ocorrencia', default: Socioeduk::SaudeJovemOcorrencia.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_saude_jovem_ocorrencia', default: Socioeduk::SaudeJovemOcorrencia.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_saude_jovem_ocorrencia_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:socioeduk_jovem_recepcao) %></th>
                                    <th><%= model_class.human_attribute_name(:socioeduk_tipo_atendimento) %></th>
                                    <th><%= model_class.human_attribute_name(:data) %></th>
                                    <th><%= model_class.human_attribute_name(:observacao) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_saude_jovem_ocorrencias.each do |socioeduk_saude_jovem_ocorrencia| %>
                <tr>
                                    <td><%= socioeduk_saude_jovem_ocorrencia.socioeduk_jovem_recepcao.socioeduk_jovem.nome %></td>
                                    <td><%= socioeduk_saude_jovem_ocorrencia.socioeduk_tipo_atendimento.descricao %></td>
                                    <td><%= socioeduk_saude_jovem_ocorrencia.data %></td>
                                    <td><%= socioeduk_saude_jovem_ocorrencia.observacao %></td>
                                    <td>
                    <%= link_to_show(socioeduk_saude_jovem_ocorrencia) %>
                    <%= link_to_edit(edit_socioeduk_saude_jovem_ocorrencia_path(socioeduk_saude_jovem_ocorrencia)) %>
                    <%= link_to_delete(socioeduk_saude_jovem_ocorrencia) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
