<h5>Filtros</h5>
<div class="ibox-content">
	<div class="row">
		<div class="col-sm-12">
			<%= search_form_for @q, url: {controller: :estoque_patrimonio, action: :index} do |f| %>
			  <div class="form-group">
			  	<div class="col-sm-2">
						<%= f.search_field :tombo_anterior_or_tombo_atual_eq, class: 'form-control', placeholder: 'Tombo' %>
					</div>
					<div class="col-sm-4">
						<%= f.collection_select :item_patrimonio_id_eq, ItemPatrimonio.all, :id, :nome, {prompt: 'Selecione'}, class: 'form-control select2' %>
					</div>
			  </div>
				<%= f.submit 'Buscar', class: 'btn btn-info' %>
				<%= link_to "Limpar", request.path, class:"cancel-button", class: 'btn btn-warning' %>
			<% end %>
		</div>
	</div>
</div>

<% if @patrimonios.any? %>
	<h5>Patrimônios Localizados <span class="badge badge-success"><%= @patrimonios.count %></span></h5>
	<div class="ibox-content">
		<table class="table table-bordered">
		  <thead>
			  <tr>
		      <th>Nome</th>
		      <th>Especificações</th>
		      <th>Depósito</th>
		      <th>Tombo Anterior</th>
		      <th>Origem Anterior</th>
		      <th>Tombo Atual</th>
		      <th>Origem Atual</th>
			  </tr>
		  </thead>
		  <tbody>
		  	<% @patrimonios.each do |patrimonio| %>
				  <tr>
				    <td><%= patrimonio.item_patrimonio.to_s.upcase %></td>
				    <td><%= patrimonio.item_patrimonio.descricao.upcase %></td>
				    <td><%= patrimonio.deposito.to_s.upcase %></td>
				    <td><%= patrimonio.tombo_anterior %></td>
				    <td><%= patrimonio.origem_anterior.upcase %></td>
				    <td><%= patrimonio.tombo_atual %></td>
				    <td><%= patrimonio.origem_atual.upcase %></td>
				  </tr>
			  <% end %>
		  </tbody>
		</table>
		<%= paginate @patrimonios %>
	</div>
<% end %>
