<%= form_for(@socioeduk_evasao, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @socioeduk_evasao %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :jovem %>
      <%= f.text_field :jovem, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :data_evasao %>
      <%= f.datetime_select :data_evasao, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :evadido %>
      <%= f.check_box :evadido, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :retornou_em %>
      <%= f.datetime_select :retornou_em, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :tipo_evasao %>
      <%= f.number_field :tipo_evasao, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :observacoes %>
      <%= f.text_area :observacoes, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :motivo %>
      <%= f.text_field :motivo, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), socioeduk_evasoes_path, class: 'btn' %>
    </div>
  </div>
<% end %>
