<% content_for :title do %>
  <%= t('.title', default: @socioeduk_pedagogico_jovem_oficina.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_pedagogico_jovem_oficina.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemOficina.human_attribute_name :socioeduk_pedagogico_jovem %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemOficina.human_attribute_name :socioeduk_tipo_oficina %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemOficina.human_attribute_name :nome %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemOficina.human_attribute_name :data_inicia %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemOficina.human_attribute_name :data_fim %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemOficina.human_attribute_name :carga_horaria %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_oficina.socioeduk_pedagogico_jovem %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_oficina.socioeduk_tipo_oficina %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_oficina.nome %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_oficina.data_inicia %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_oficina.data_fim %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_oficina.carga_horaria %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_pedagogico_jovem_oficinas_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_pedagogico_jovem_oficina_path(@socioeduk_pedagogico_jovem_oficina), class: 'btn btn-success' %>
