<%- model_class = Socioeduk::TipoDocumentoRecepcao -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_tipo_documento_recepcao', default: Socioeduk::TipoDocumentoRecepcao.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_tipo_documento_recepcao', default: Socioeduk::TipoDocumentoRecepcao.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_tipo_documento_recepcao_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:tipo_documento_recepcao) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_tipo_documento_recepcoes.each do |socioeduk_tipo_documento_recepcao| %>
                <tr>
                                    <td><%= socioeduk_tipo_documento_recepcao.tipo_documento_recepcao %></td>
                                    <td>
                    <%= link_to_show(socioeduk_tipo_documento_recepcao) %>
                    <%= link_to_edit(edit_socioeduk_tipo_documento_recepcao_path(socioeduk_tipo_documento_recepcao)) %>
                    <%= link_to_delete(socioeduk_tipo_documento_recepcao) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
