<%- model_class = Socioeduk::Transferencia -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_transferencia', default: Socioeduk::Transferencia.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_transferencia', default: Socioeduk::Transferencia.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_transferencia_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:unidade_socioeducativa_origem_id) %></th>
                  <th><%= model_class.human_attribute_name(:unidade_socioeducativa_destino_id) %></th>
                  <th><%= model_class.human_attribute_name(:admissao) %></th>
                  <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_transferencias.each do |socioeduk_transferencia| %>
                <tr>
                  <td><%= socioeduk_transferencia.unidade_socioeducativa_origem_id %></td>
                  <td><%= socioeduk_transferencia.unidade_socioeducativa_destino_id %></td>
                  <td><%= socioeduk_transferencia.admissao %></td>
                  <td>
                    <%= link_to_show(socioeduk_transferencia) %>
                    <%= link_to_edit(edit_socioeduk_transferencia_path(socioeduk_transferencia)) %>
                    <%= link_to_delete(socioeduk_transferencia) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
