<div class="container">
<%= devise_error_messages! %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <h2 class="form-signin-heading">Cadastre-se</h2>
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Nome', required: 'required' %>

  <%= f.label :email %><br />
  <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: 'required' %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(No mínimo <%= @minimum_password_length %> caracteres)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-success btn-block' %>
    <%- if controller_name != 'sessions' %>
      <%= link_to "Já possui cadastro?", new_session_path(resource_name), class: 'btn btn-outline-success btn-block' %><br />
    <% end -%>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
