<% if current_usuario.pessoa.funcoes.last.nome == "Gestor de transporte" %>
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail">
        <div>   
          <span class=" label label-info pull-right">
            <%= link_to '<i class="fa fa-inbox fa-2x"></i> '.html_safe, {controller: :mapa_de_bordos, action: :index, status: 'aberto'}, style:"color: white" %>
          </span>
        </div>
        <h4>Em Aberto</h4>
        <div class="caption">
          <div class="ibox-content">
            <h1 class="no-margins">
              <%= @mapa_de_bordos[:aberto].count %>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <div>
          <span class="label label-primary pull-right">
            <%= link_to '<i class="fa fa-inbox fa-2x"></i> '.html_safe, {controller: :mapa_de_bordos, action: :index, status: 'finalizado'}, style:"color: white" %>
          </span>
        </div>
        <h4>Finalizado</h4>
        <div class="caption">
          <div class="ibox-content">
            <h1 class="no-margins">
              <%= @mapa_de_bordos[:finalizado].count %>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
  <% if !@q.nil? %>
    <%= search_form_for @q do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= f.text_field :id_eq, placeholder: "Nº Mapa", class: "form-control" %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :data_vistoria_eq, placeholder: "Data", class: "form-control datepicker" %>
          </div>
          <div class="col-sm-3">
             <%= f.collection_select :motorista_id_eq, Motorista.motoristas, :id, :nome, {include_blank: true, prompt: "Motoristas"}, class: "form-control" %>
          </div>
           <div class="col-sm-3">
             <%= f.collection_select :veiculo_id_eq, Veiculo.disponiveis, :id, :to_s, {include_blank: true, prompt: "Veiculos"}, class: "form-control" %>
          </div>
          <%= f.submit 'Buscar', class: "btn btn-primary" %>
          <%= link_to "Limpar", mapa_de_bordos_path, class:"btn btn-warning" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>