<%- model_class = Permissao -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.permissao').pluralize %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.permissao').pluralize %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_permissao_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:perfil) %></th>
                  <th width="30%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @permissoes.each do |permissao| %>
                <tr>
                  <td><%= permissao.perfil %></td>
                  <td>
                    <%= link_to_show(permissao) %>
                    <%= link_to_edit(edit_permissao_path(permissao)) %>
                    <%= link_to_delete(permissao) %>
                    <%= link_to permissao_duplicate_path(permissao), class: 'btn btn-sm btn-primary', data: { tooltip: "true", placement: 'top' }, title: 'Duplicar Permissão' do %>
                      <i class="fas fa-copy"></i>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
