<% content_for :title do %>
  <%= t('.title', default: @socioeduk_ocorrencia.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_ocorrencia.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    
                  
                  <th><%= Socioeduk::Ocorrencia.human_attribute_name :nome %></th>
                                    
                  
                  <th><%= Socioeduk::Ocorrencia.human_attribute_name :descricao %></th>
                                    
                  
                  <th><%= Socioeduk::Ocorrencia.human_attribute_name :socioeduk_tipo_ocorrencia_id %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_ocorrencia.nome %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_ocorrencia.descricao %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_ocorrencia.socioeduk_tipo_ocorrencia_id %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_ocorrencias_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_ocorrencia_path(@socioeduk_ocorrencia), class: 'btn btn-success' %>
