<%- model_class = Socioeduk::AdmissaoAnexo -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_admissao_anexo', default: Socioeduk::AdmissaoAnexo.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_admissao_anexo', default: Socioeduk::AdmissaoAnexo.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_admissao_anexo_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:jovem) %></th>
                  <th><%= model_class.human_attribute_name(:kit) %></th>
                  <th><%= model_class.human_attribute_name(:documentos) %></th>
                  <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_admissao_anexos.each do |socioeduk_admissao_anexo| %>
                <tr>
                  <td><%= socioeduk_admissao_anexo.jovem %></td>
                  <td><%= socioeduk_admissao_anexo.kit %></td>
                  <td><%= socioeduk_admissao_anexo.documentos %></td>
                  <td>
                    <%= link_to_show(socioeduk_admissao_anexo) %>
                    <%= link_to_edit(edit_socioeduk_admissao_anexo_path(socioeduk_admissao_anexo)) %>
                    <%= link_to_delete(socioeduk_admissao_anexo) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
