<% content_for :title do %>
  <%= t('.title', default: @socioeduk_jovem_apreensao.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_jovem_apreensao.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :socioeduk_jovem %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :antecedente_criminal %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :qtd_processo_anterior %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :data_hora_entrada_delegacia %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :dia_delegacia %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :socioeduk_tipo_medida_socioeducativa %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :socioeduk_tipo_decisao_judicial %></th>
                                    
                  
                  <th><%= Socioeduk::JovemApreensao.human_attribute_name :qtd_dia_internacao_medida %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.socioeduk_jovem %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.antecedente_criminal %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.qtd_processo_anterior %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.data_hora_entrada_delegacia %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.dia_delegacia %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.socioeduk_tipo_medida_socioeducativa %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.socioeduk_tipo_decisao_judicial %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_jovem_apreensao.qtd_dia_internacao_medida %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_jovem_apreensoes_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_jovem_apreensao_path(@socioeduk_jovem_apreensao), class: 'btn btn-success' %>
