<%- model_class = Biblioteca::Emprestimo -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.biblioteca_emprestimo', default: Biblioteca::Emprestimo.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.biblioteca_emprestimo', default: Biblioteca::Emprestimo.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_biblioteca_emprestimo_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th>#</th>
                                    <th><%= model_class.human_attribute_name(:biblioteca_livro) %></th>
                                    <th><%= model_class.human_attribute_name(:pessoa) %></th>
                                    <th><%= model_class.human_attribute_name(:data) %></th>
                                    <th><%= model_class.human_attribute_name(:usuario) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @biblioteca_emprestimos.each do |biblioteca_emprestimo| %>
                <tr>
                                    <td><%= biblioteca_emprestimo.id %></td>
                                    <td><%= biblioteca_emprestimo.biblioteca_livro %></td>
                                    <td><%= biblioteca_emprestimo.pessoa %></td>
                                    <td><%= biblioteca_emprestimo.data %></td>
                                    <td><%= biblioteca_emprestimo.usuario %></td>
                                    <td>
                    <%= link_to_show(biblioteca_emprestimo) %>
                    <%= link_to_edit(edit_biblioteca_emprestimo_path(biblioteca_emprestimo)) %>
                    <%= link_to_delete(biblioteca_emprestimo) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
