<%= form_for(@socioeduk_jovem_suicidio, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @socioeduk_jovem_suicidio %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :jovem %>
      <%= f.collection_select :jovem, Socioeduk::Jovem.all, :id, :nome_concat_mae, {prompt: 'Selecione'}, class: 'form-control select2' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :unidade_socioeducativa %>
      <%= f.collection_select :unidade_socioeducativa, UnidadeSocioeducativa.all, :id, :nome, {prompt: 'Selecione'}, class: 'form-control' %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :municipio %>
      <%= f.collection_select :municipio, Socioeduk::Municipio.all, :id, :descricao, {prompt: 'Selecione'}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :data_entrada_unidade %>
      <%= f.text_field :data_entrada_unidade, class: 'form-control datepicker' %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :data_evento %>
      <%= f.text_field :data_evento, class: 'form-control datetimepicker', data: {format: "dd/MM/yyyy hh:mm:ss"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :dia_semana %>
      <%= f.select :dia_semana, ['Segunda', 'Terça', 'Quarta',  'Quinta', 'Sexta', 'Sábado', 'Domingo'], {:prompt=>"Selecione"}, {:class => "form-control"} %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :metodo %>
      <%= f.text_field :metodo, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.check_box :foi_planejado %>
      <%= f.label :foi_planejado %>
    </div>
  </div>
  <div id="form_foi_planejado" class="alinha-campo-oculto">
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :descricao_planejamento %>
        <%= f.text_area :descricao_planejamento, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.check_box :ouve_aviso %>
      <%= f.label :ouve_aviso %>
    </div>
  </div>
  <div id="form_ouve_aviso" class="alinha-campo-oculto">
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :descricao_aviso %>
        <%= f.text_area :descricao_aviso, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.check_box :deixou_mensagem %>
      <%= f.label :deixou_mensagem %>
    </div>
  </div>
  <div id="form_deixou_mensagem" class="alinha-campo-oculto">
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :descricao_mensagem %>
        <%= f.text_area :descricao_mensagem, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.check_box :estava_acompanhado %>
      <%= f.label :estava_acompanhado %>
    </div>
  </div>
  <div id="form_estava_acompanhado" class="alinha-campo-oculto">
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :descricao_acompanhamento %>
        <%= f.text_area :descricao_acompanhamento, class: 'form-control' %>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :onde_ocorreu %>
        <%= f.text_field :onde_ocorreu, class: 'form-control' %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :tempo_socorro_suicidio %>
        <%= f.text_field :tempo_socorro_suicidio, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :quem_socorreu %>
        <%= f.text_field :quem_socorreu, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :procedimento_socorro %>
        <%= f.text_area :procedimento_socorro, class: 'form-control' %>
      </div>
    </div>
  </div>

  <h2>Possíveis fatores que possam ter contribuído para o ocorrído</h2><br>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :depressao %>
      <%= f.label :depressao %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :apatia %>
      <%= f.label :apatia %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :insonia %>
      <%= f.label :insonia %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :drogas %>
      <%= f.label :drogas %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :impulsividade %>
      <%= f.label :impulsividade %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :relacionamento %>
      <%= f.label :relacionamento %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :isolamento %>
      <%= f.label :isolamento %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.check_box :outros %>
      <%= f.label :outros %>
      <div id="form_outros" class="alinha-campo-oculto">
        <div class="form-group">
          <div class="col-sm-10 col-offset-1">
            <%= f.label :descrever_outros %>
            <%= f.text_area :descrever_outros, class: 'form-control'%>
          </div>
        </div>
      </div>

    </div>
    
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), socioeduk_jovem_suicidios_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
