<% content_for :title do %>
  <%= t('.title', default: @funcao_pessoa.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @funcao_pessoa.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><%= FuncaoPessoa.human_attribute_name :funcao %></th>
                  <th><%= FuncaoPessoa.human_attribute_name :pessoa %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="min-width: 90px; word-break: break-all;"><%= @funcao_pessoa.funcao %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @funcao_pessoa.pessoa %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', funcao_pessoas_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_funcao_pessoa_path(@funcao_pessoa), class: 'btn btn-detran-primary' %>
