<%- model_class = Pessoa -%>
<% content_for :ibox_content do %>
  <%= link_to_new new_pessoa_path %>
  <table class="table table-hover table-sm sortable">
  <thead>
    <tr>
       <th><%= model_class.human_attribute_name(:nome) %></th>
       <th><%= model_class.human_attribute_name(:cpf) %></th>
       <th><%= model_class.human_attribute_name(:usuario) %></th>
      <th width="18%"><%= I18n.t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.cpf %></td>
        <td><%= pessoa.usuario %></td>
        <td>
          <%= link_to_show(pessoa) %>
          <%= link_to_edit(edit_pessoa_path(pessoa)) %>
          <%= link_to_delete(pessoa) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end -%>
<%= render partial: 'common/box', locals: { title: I18n.t('activerecord.models.pessoa', default: Pessoa.model_name.human.pluralize.upcase) } %>
