<% content_for :title do %>
  <%= t('.title', default: @recursoshumanos_cargo.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @recursoshumanos_cargo.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    <th><%= Recursoshumanos::Cargo.human_attribute_name :nome %></th>
                                    <th><%= Recursoshumanos::Cargo.human_attribute_name :quantidade %></th>
                                    <th><%= Recursoshumanos::Cargo.human_attribute_name :recursoshumanos_contratos %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @recursoshumanos_cargo.nome %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @recursoshumanos_cargo.quantidade %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @recursoshumanos_cargo.contrato %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', recursoshumanos_cargos_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_recursoshumanos_cargo_path(@recursoshumanos_cargo), class: 'btn btn-detran-primary' %>
