<%- model_class = ClassePatrimonio -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.classe_patrimonio', default: ClassePatrimonio.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.classe_patrimonio', default: ClassePatrimonio.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_classe_patrimonio_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:grupo_patrimonio) %></th>
                  <th><%= model_class.human_attribute_name(:codigo) %></th>
                  <th><%= model_class.human_attribute_name(:nome) %></th>
                  <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @classe_patrimonios.each do |classe_patrimonio| %>
                <tr>
                  <td><%= classe_patrimonio.grupo_patrimonio.to_s.upcase %></td>
                  <td><%= classe_patrimonio.codigo %></td>
                  <td><%= classe_patrimonio.nome.upcase %></td>
                  <td>
                    <%= link_to_show(classe_patrimonio) %>
                    <%= link_to_edit(edit_classe_patrimonio_path(classe_patrimonio)) %>
                    <%= link_to_delete(classe_patrimonio) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @classe_patrimonios %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
