<div class="container-fluid">
  <!-- <section>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Selecione o sistema</h1>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5 text-center">
        <h1>&nbsp;</h1>
      </div>
    </div>
  </section> -->
  <div class="row fit fitMobile">
    <div class="col-lg-3 col-lg-offset-2">
      <a href="<%= socioeduk_path %>">
        <div class="widget lazur-bg p-lg text-center" style="background:#2E8B57">
          <div class="m-b-md">
            <i class="fas fa-chalkboard-teacher fa-5x"></i>
            <h1 class="m-xs">Socioeduk</h1>
            <h3 class="font-bold no-margins">
              Gestão socioeducativa
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= recursoshumanos_dashboard_index_path %>">
        <div class="widget lazur-bg p-lg text-center" style="background:#0057c2">
          <div class="m-b-md">
            <i class="fa fa-users fa-5x"></i>
            <h1 class="m-xs">RH</h1>
            <h3 class="font-bold no-margins">
              Recursos humanos
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= biblioteca_emprestimos_path %>">
        <div class="widget p-lg text-center" style="background: #902e23; color:white;">
          <div class="m-b-md">
            <i class="fa fa-book fa-5x"></i>
            <h1 class="m-xs">Biblioteca</h1>
            <h3 class="font-bold no-margins">
              Controle de livros
            </h3>
            <br>
          </div>
        </div>
      </a> 
    </div>
  </div>
  <div class="row fit fitMobile">
    <div class="col-lg-3 col-lg-offset-2">
      <a href="<%= materiais_path %>">
        <div class="widget lazur-bg p-lg text-center" style="background:#c4ba3f;">
          <div class="m-b-md">
            <i class="fa fa-cart-plus fa-5x"></i>
            <h1 class="m-xs">Almoxarifado</h1>
            <h3 class="font-bold no-margins">
              Controle dos bens de consumo
            </h3>
            <br>  
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= dashboard_patrimonio_index_path %>">
        <div class="widget p-lg text-center" style="background: #c94834; color:white;">
          <div class="m-b-md">
            <i class="fa fa fa-barcode fa-5x"></i>
            <h1 class="m-xs">Patrimônio</h1>
            <h3 class="font-bold no-margins">
              Controle de bens patrimoniais
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= new_solicitacao_transporte_path %>">
        <div class="widget lazur-bg p-lg text-center"  style="background: #692dca; color:white;">
          <div class="m-b-md">
            <i class="fas fa-map-signs fa-5x"></i>
            <h1 class="m-xs">Transporte</h1>
            <h3 class="font-bold no-margins">
              Solicitação de transportes
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row fit fitMobile">
    <div class="col-lg-3 col-lg-offset-2">
      <a href="<%= seguranca_index_path %>">
        <div class="widget p-lg text-center" style="background: #47692F; color:white;">
          <div class="m-b-md">
            <i class="fas fa-shield-alt fa-5x"></i>
            <h1 class="m-xs">Segurança</h1>
            <h3 class="font-bold no-margins">
              Registro de segurança
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="<%= indicadores_path %>">
        <div class="widget navy-bg p-lg text-center">
          <div class="m-b-md">
            <i class="far fa-chart-bar fa-5x"></i>
            <h1 class="m-xs">Indicadores</h1>
            <h3 class="font-bold no-margins">
              Indicadores socioeducativos
            </h3>
            <br>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="c>ol-lg-3">
      <a href="<%#= admin_usuarios_path %>">
      <div class="widget p-lg text-center" style="background: #FF6C19; color: white;">
        <div class="m-b-md">
          <i class="fa fa-exclamation-triangle fa-5x"></i>
          <h1 class="m-xs">Supervisão</h1>
          <h3 class="font-bold no-margins">
              Inspeção
          </h3>
          <br>
        </div>
      </div>
    </a>
    </div> -->
  </div>
</div>
