<%= form_for(@veiculo, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @veiculo %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :placa %>
      <%= f.text_field :placa, class: 'form-control mask-placa' %>
    </div>
  </div>
   <div>
     <%= f.hidden_field :status, value: 'ativos' %>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
        <%= f.label :Marca %>
        <%= f.collection_select :marca_veiculo_id , MarcaVeiculo.all, :id, :marca, {prompt:"selecione"},{class: 'form-control'} %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :modelo %>
      <%= f.collection_select :modelos_marca_id, ModelosMarca.all, :id, :modelo, {prompt:"selecione"},{class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-5 col-offset-1">
        <%= f.label :renavam %>
        <%= f.text_field :renavam,class: 'form-control' %>
      </div>
       <div class="col-sm-5 col-offset-1">
        <%= f.label :chassi %>
        <%= f.text_field :chassi, class: 'form-control' %>
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :ano_fab %>
      <%= f.text_field :ano_fab,class: 'form-control' %>
    </div>
     <div class="col-sm-5 col-offset-1">
      <%= f.label :ano_mod %>
      <%= f.text_field :ano_mod, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-5 col-offset-1">
        <%= f.label :cor %>
        <%= f.text_field :cor, class: 'form-control' %>
      </div>
       <div class="col-sm-5 col-offset-1">
        <%= f.label :lotacao %>
        <%= f.text_field :lotacao, class: 'form-control' %>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), veiculos_path, class: 'btn' %>
    </div>
  </div>
<% end %>
