<%- model_class = Veiculo -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.veiculo', default: Veiculo.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.veiculo', default: Veiculo.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= render partial: 'manager' %>
            <%= link_to_new new_veiculo_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:marca) %></th>
                  <th><%= model_class.human_attribute_name(:placa) %></th>  
                  <th><%= model_class.human_attribute_name(:ano_fab) %></th>
                  <th><%= model_class.human_attribute_name(:ano_mod) %></th>
                  <th><%= model_class.human_attribute_name(:renavam) %></th>
                  <th><%= model_class.human_attribute_name(:chassi) %></th>
                  <th><%= model_class.human_attribute_name(:cor) %></th>
                  <th><%= model_class.human_attribute_name(:lotacao) %></th>
                </tr>
              </thead>
              <tbody>
                <% @veiculos_a_mostrar.each do |veiculo| %>
                <tr>
                    <td><%= veiculo.modelos_marca.modelo %></td>
                    <td><%= veiculo.placa %></td> 
                    <td><%= veiculo.ano_fab %></td>
                    <td><%= veiculo.ano_mod %></td>
                    <td><%= veiculo.renavam %></td>
                    <td><%= veiculo.chassi %></td>
                    <td><%= veiculo.cor %></td>
                    <td><%= veiculo.lotacao %></td>
                    <td>
                    <%= link_to_show(veiculo) %>
                    <%= link_to_edit(edit_veiculo_path(veiculo)) %>
                    <%= link_to_delete(veiculo) %>
                  </td>
                  <td>   
                    <%= link_to '<i class="fas fa-map"></i>'.html_safe, disponibilizar_veiculo_path(veiculo.id), class: "btn btn-success btn-sm", title: "Disponibilizar" %>
                    <%= link_to '<i class="fas fa-road"></i>'.html_safe, ativar_veiculo_path(veiculo.id), class: "btn btn-info btn-sm", title: "Ativar" %>
                    <%= link_to '<i class="fas fa-shipping-fast"></i>'.html_safe, ocupar_veiculo_path(veiculo.id), class: "btn btn-warning btn-sm", title: "Ocupado"  %>
                    <%= link_to '<i class="fas fa-wrench"></i>'.html_safe, consertar_veiculo_path(veiculo.id), class: "btn btn-danger btn-sm", title: "Manutenção"  %>
                    <%= link_to '<i class="fas fa-warehouse"></i>'.html_safe, alocar_veiculo_path(veiculo.id), class: "btn btn-primary btn-sm", title: "Externo"  %>
                  </td> 
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
