<% content_for :title do %>
  <%= t('.title', default: @veiculo.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @veiculo.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><%= Veiculo.human_attribute_name :modelos_marca %></th>
                  <th><%= Veiculo.human_attribute_name :placa %></th>
                  <th><%= Veiculo.human_attribute_name :ano_fab %></th>
                  <th><%= Veiculo.human_attribute_name :ano_mod %></th>
                  <th><%= Veiculo.human_attribute_name :renavam %></th>
                  <th><%= Veiculo.human_attribute_name :chassi %></th>
                  <th><%= Veiculo.human_attribute_name :cor %></th>
                  <th><%= Veiculo.human_attribute_name :lotacao %></th>
                  <div></div>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.modelos_marca.modelo %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.placa %></td>                  
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.ano_fab %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.ano_fab %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.renavam %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.chassi %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.cor %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @veiculo.lotacao %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', veiculos_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_veiculo_path(@veiculo), class: 'btn btn-detran-primary' %>
