<%- model_class = Patrimonio -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.patrimonio', default: Patrimonio.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.patrimonio', default: Patrimonio.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_patrimonio_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:grupo_patrimonio) %></th>
                  <th><%= model_class.human_attribute_name(:classe_patrimonio) %></th>
                  <th><%= model_class.human_attribute_name(:item_patrimonio) %></th>
                  <th><%= model_class.human_attribute_name(:descricao) %></th>
                  <th><%= model_class.human_attribute_name(:tombo_anterior) %></th>
                  <th><%= model_class.human_attribute_name(:origem_anterior) %></th>
                  <th><%= model_class.human_attribute_name(:tombo_atual) %></th>
                  <th><%= model_class.human_attribute_name(:origem_atual) %></th>
                  <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @patrimonios.each do |patrimonio| %>
                <tr>
                  <td><%= patrimonio.item_patrimonio.classe_patrimonio.grupo_patrimonio.to_s.upcase %></td>
                  <td><%= patrimonio.item_patrimonio.classe_patrimonio.to_s.upcase %></td>
                  <td><%= patrimonio.item_patrimonio.to_s.upcase %></td>
                  <td><%= patrimonio.item_patrimonio.descricao.upcase %></td>
                  <td class="text-danger font-bold"><%= patrimonio.tombo_anterior %></td>
                  <td class="text-danger font-bold"><%= patrimonio.origem_anterior.upcase %></td>
                  <td class="text-success font-bold"><%= patrimonio.tombo_atual %></td>
                  <td class="text-success font-bold"><%= patrimonio.origem_atual.upcase %></td>
                  <td>
                    <%= link_to_show(patrimonio) %>
                    <%= link_to_edit(edit_patrimonio_path(patrimonio)) %>
                    <%= link_to_delete(patrimonio) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @patrimonios %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
