<%= form_for(@recursoshumanos_cargo_aditivo, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @recursoshumanos_cargo_aditivo %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :recursoshumanos_aditivo %>
      <%= f.collection_select :recursoshumanos_aditivo_id, @aditivos, :id ,:to_s,{prompt: 'Selecione',selected: 1}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :operacao %><br>
      <%= f.radio_button :operacao, '+' %>
      <%= f.label :operacao, "Adicionar (+)", :value => "true"  %>
      <%= f.radio_button :operacao, '-' %>
      <%= f.label :operacao, "Remover (-)", :value => "false"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :qtd_adicionado %>
      <%= f.number_field :qtd_adicionado, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.hidden_field :recursoshumanos_cargo_id, value: @cargo_id, class: 'form-control' %>
      <%= f.hidden_field :recursoshumanos_contrato_id, value: @contrato_id, class: 'form-control' %>
      <%= f.hidden_field :qtd_anterior, value: @quantidade, class: 'form-control' %>
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), recursoshumanos_cargo_aditivos_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
