<%- model_class = Recursoshumanos::CargoAditivo -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.recursoshumanos_cargo_aditivo', default: Recursoshumanos::CargoAditivo.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.recursoshumanos_cargo_aditivo', default: Recursoshumanos::CargoAditivo.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_recursoshumanos_cargo_aditivo_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:recursoshumanos_cargo) %></th>
                                    <th><%= model_class.human_attribute_name(:recursoshumanos_aditivo) %></th>
                                    <th><%= model_class.human_attribute_name(:qtd_anterior) %></th>
                                    <th><%= model_class.human_attribute_name(:operacao) %></th>
                                    <th><%= model_class.human_attribute_name(:qtd_adicionado) %></th>
                                    <th><%= model_class.human_attribute_name(:qtd_atual) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @recursoshumanos_cargo_aditivos.each do |recursoshumanos_cargo_aditivo| %>
                <tr>
                                    <td><%= recursoshumanos_cargo_aditivo.recursoshumanos_cargo %></td>
                                    <td><%= recursoshumanos_cargo_aditivo.recursoshumanos_aditivo %></td>
                                    <td><%= recursoshumanos_cargo_aditivo.qtd_anterior %></td>
                                    <td><%= recursoshumanos_cargo_aditivo.operacao %></td>
                                    <td><%= recursoshumanos_cargo_aditivo.qtd_adicionado %></td>
                                    <td><%= recursoshumanos_cargo_aditivo.qtd_atual %></td>
                                    <td>
                    <%= link_to_show(recursoshumanos_cargo_aditivo) %>
                    <%= link_to_edit(edit_recursoshumanos_cargo_aditivo_path(recursoshumanos_cargo_aditivo)) %>
                    <%= link_to_delete(recursoshumanos_cargo_aditivo) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
