  <div class="text-center">
    <div class="form-group">
      <%= link_to "Unidades", unidades_socioeducativas_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Áreas", areas_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Eixos", eixos_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Serviços", servicos_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Serviços Realizados", servicos_realizados_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Jovens Atendidos", socioeducandos_atendidos_path, class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="form-group">
      <%= link_to "Gestores Unidades", gestores_unidades_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Gestores Áreas", gestores_areas_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "Gestores Eixos", gestores_eixos_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
