<% content_for :title do %>
  <%= t('.title', default: @unidade_bloco_dormitorio.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @unidade_bloco_dormitorio.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    
                  
                  <th><%= UnidadeBlocoDormitorio.human_attribute_name :unidade_socioeducativa_blocos %></th>
                                    
                  
                  <th><%= UnidadeBlocoDormitorio.human_attribute_name :descricao %></th>
                                    
                  
                  <th><%= UnidadeBlocoDormitorio.human_attribute_name :capacidade_base %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @unidade_bloco_dormitorio.unidade_socioeducativa_blocos %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @unidade_bloco_dormitorio.descricao %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @unidade_bloco_dormitorio.capacidade_base %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', unidade_bloco_dormitorios_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_unidade_bloco_dormitorio_path(@unidade_bloco_dormitorio), class: 'btn btn-success' %>
