<%= form_for(@solicitacao_transporte, html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'layouts/error_messages', model_name: @solicitacao_transporte %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :tipo_solicitacao_transporte, class: 'required' %>
      <%= f.collection_select :tipo_solicitacao_transporte_id, TipoSolicitacaoTransporte.all, :id, :tipo, {prompt: "selecione"}, {class: "form-control", required: "true"} %>
    </div>
  </div>
  <div>
    <%= f.hidden_field :solicitante, value: current_usuario.id %>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :area_id, class: 'required' %>
      <%= f.collection_select :area_id, Area.all , :id, :nome, {prompt: "selecione"} ,{class: "form-control select2", required: "true"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :solicitado_para, class: 'required' %>
      <%= f.collection_select :destinado_para_id, Pessoa.all , :id, :nome, {prompt: "selecione"} ,{class: "form-control select2", required: "true"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :data_transporte, class: 'required' %>
      <%= f.text_field :data_transporte, class: 'form-control maskdata', required: "true" %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :data_retorno, class: 'required' %>
      <%= f.text_field :data_retorno, class: 'form-control maskdata', required: "true" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :hora_solicitada, class: 'required' %>
      <% if @solicitacao_transporte.new_record? %>
        <%= f.text_field :hora_solicitada, class: 'form-control maskhora', 'data-autoclose': true, required: "true" %>
      <% else %>
        <%# raise @solicitacao_transporte.hora_solicitada.strftime('%H:%M').inspect %>
        <%= f.text_field :hora_solicitada, value: @solicitacao_transporte.hora_solicitada.strftime('%H:%M'), class: 'form-control maskhora', 'data-autoclose': true, required: "true" %>
      <% end %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :hora_prevista_retorno, class: 'required' %>
      <% if @solicitacao_transporte.new_record? %>
        <%= f.text_field :hora_prevista_retorno,  class: 'form-control maskhora', 'data-autoclose': true, required: "true" %>
      <% else %>
        <%= f.text_field :hora_prevista_retorno, value: @solicitacao_transporte.hora_prevista_retorno.strftime('%H:%M'),  class: 'form-control maskhora', 'data-autoclose': true, required: "true" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :origem, class: 'required' %>
      <%= f.text_field :origem, class: 'form-control', required: "true" %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :destino, class: 'required' %>
      <%= f.text_field :destino, class: 'form-control', required: "true" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :justificativa, class: 'required' %>
      <%= f.text_area :justificativa, class: 'form-control', required: "true" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.check_box :urgente, {}, true, false %>
      <%= f.label :urgente %>
    </div>
  </div>
  <div id="justificativa-urgencia">
    <div class="form-group">
      <div class="col-sm-10 col-offset-1">
        <%= f.label :justificativa_urgencia %>
        <%= f.text_area :justificativa_urgencia, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), solicitacao_transportes_path, class: 'btn' %>
    </div>
  </div>
<% end %>
