<%- model_class = Socioeduk::SolicitacaoVaga -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_solicitacao_vaga', default: Socioeduk::SolicitacaoVaga.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <!-- <h5><%=  I18n.t('activerecord.models.socioeduk_solicitacao_vaga', default: Socioeduk::SolicitacaoVaga.model_name.human.pluralize.titleize) %></h5> -->
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <h1><%= I18n.t('titles.socioeduk_solicitacao_vagas_index') %></h1>
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_solicitacao_vaga_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>Usuário</th>
                  <th><%= model_class.human_attribute_name(:nome) %></th>
                  <th><%= model_class.human_attribute_name(:sexo) %></th>
                  <th><%= model_class.human_attribute_name(:socioeduk_tipo_medida_socioeducativa_id) %></th>
                  <th><%= model_class.human_attribute_name(:respondido_por) %></th>
                  <th><%= model_class.human_attribute_name(:data_resposta) %></th>
                  <th><%= model_class.human_attribute_name(:status) %></th>
                  <th style="width: 125px;"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_solicitacao_vagas.each do |socioeduk_solicitacao_vaga| %>
                  <tr>
                    <td><%= Pessoa.where(usuario_id: socioeduk_solicitacao_vaga&.usuario&.id).first.nome %></td>
                    <td><%= socioeduk_solicitacao_vaga&.nome %></td>
                    <td>
                      <% if socioeduk_solicitacao_vaga&.sexo == "M" %>
                        <span class="btn btn-sm btn-circle" style="background-color:#2785d4"><i class="fa fa-male" aria-hidden="true" style="color: white;"></i></span>
                      <% else %>
                        <span class="btn btn-sm btn-circle" style="background-color:#e86cff"><i class="fa fa-female" aria-hidden="true" style="color: white;"></i></span>
                      <% end %>
                    </td>
                    <td><%= socioeduk_solicitacao_vaga&.tipo_medida_socioeducativa&.descricao %></td>
                    <td><%= socioeduk_solicitacao_vaga&.usuario_resposta&.nome %></td>
                    <td><%= l(socioeduk_solicitacao_vaga&.data_resposta) if socioeduk_solicitacao_vaga&.data_resposta %></td>
                    <td><%= socioeduk_solicitacao_vaga&.status&.upcase == "NEGADA"? content_tag(:span, socioeduk_solicitacao_vaga&.status&.upcase, class: 'label label-danger') : (socioeduk_solicitacao_vaga&.status&.upcase == "AUTORIZADA"? content_tag(:span, socioeduk_solicitacao_vaga&.status&.upcase, class: 'label label-primary') : content_tag(:span, socioeduk_solicitacao_vaga&.status&.upcase, class: 'label label-warning')) %></td>
                    <td> 
                      <div class="documentos_acao">
                        <%= link_to_show(socioeduk_solicitacao_vaga) %>
                        <%= link_to_edit(edit_socioeduk_solicitacao_vaga_path(socioeduk_solicitacao_vaga)) %>
                        <% if socioeduk_solicitacao_vaga.documento_alterado.nil? %>
                          <%= link_to_delete(socioeduk_solicitacao_vaga) %>
                        <% end %>
                        <%= socioeduk_solicitacao_vaga.resposta_arquivo_processo? ? image_tag("pdf_preview", size: "25x30", style:"margin-bottom: 5px;", id: "documentos_download"+socioeduk_solicitacao_vaga.id.to_s, onclick: "ligar_tooltip("+socioeduk_solicitacao_vaga.id.to_s+")" ) : "" %>
                      </div>
                    </td>
                  </tr>
                  <tr id="tr_tooltip<%= socioeduk_solicitacao_vaga.id %>" style="display:none">
                    <td colspan="7" style="border-top: solid 1px #FFF;">
                      <div id="documentos_tooltip<%= socioeduk_solicitacao_vaga.id %>" class="documentos_tooltip">
                        <%= link_to socioeduk_solicitacao_vaga.resposta_arquivo_processo? ? content_tag(:i, nil, {class: 'fas fa-file-pdf fa-2x', style: 'color: #d42e2e;'}) : "", socioeduk_solicitacao_vaga.resposta_arquivo_processo.url(:original, false), target: '_blank' %>
                        <label><%= socioeduk_solicitacao_vaga.resposta_arquivo_processo_file_name ? socioeduk_solicitacao_vaga.resposta_arquivo_processo_file_name : "" %></label><br>
                        <%= link_to socioeduk_solicitacao_vaga.resposta_arquivo_processo2? ? content_tag(:i, nil, {class: 'fas fa-file-pdf fa-2x', style: 'color: #d42e2e;'}) : "", socioeduk_solicitacao_vaga.resposta_arquivo_processo2.url(:original, false), target: '_blank' %>
                        <label><%= socioeduk_solicitacao_vaga.resposta_arquivo_processo2_file_name ? socioeduk_solicitacao_vaga.resposta_arquivo_processo2_file_name : "" %></label><br>
                        <%= link_to socioeduk_solicitacao_vaga.resposta_arquivo_processo3? ? content_tag(:i, nil, {class: 'fas fa-file-pdf fa-2x', style: 'color: #d42e2e;'}) : "", socioeduk_solicitacao_vaga.resposta_arquivo_processo3.url(:original, false), target: '_blank' %>
                        <label><%= socioeduk_solicitacao_vaga.resposta_arquivo_processo3_file_name ? socioeduk_solicitacao_vaga.resposta_arquivo_processo3_file_name : "" %></label><br>
                        <%= link_to socioeduk_solicitacao_vaga.resposta_arquivo_processo4? ? content_tag(:i, nil, {class: 'fas fa-file-pdf fa-2x', style: 'color: #d42e2e;'}) : "", socioeduk_solicitacao_vaga.resposta_arquivo_processo4.url(:original, false), target: '_blank' %>
                        <label><%= socioeduk_solicitacao_vaga.resposta_arquivo_processo4_file_name ? socioeduk_solicitacao_vaga.resposta_arquivo_processo4_file_name : "" %></label>
                        <button type="button" class="close" style="float: unset;"><span aria-hidden="true" onclick="ligar_tooltip(<%= socioeduk_solicitacao_vaga.id %>)">×</span></button>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function ligar_tooltip(id){
    if($("#documentos_tooltip"+id).css("display") == "none"){
      $("#tr_tooltip"+id).slideDown();
      $("#documentos_tooltip"+id).slideDown();
    }
    else
    {
      $("#documentos_tooltip"+id).slideUp();
      $("#tr_tooltip"+id).slideUp();
    }
  }
</script>