<% content_for :title do %>
  <%= t('.title', default: @capacidade_diaria.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @capacidade_diaria.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    <th><%= Capacidade_diaria.human_attribute_name :unidade_socioeducativa %></th>
                                    <th><%= Capacidade_diaria.human_attribute_name :capacidade %></th>
                                    <th><%= Capacidade_diaria.human_attribute_name :data_referencia %></th>
                                    <th><%= Capacidade_diaria.human_attribute_name :usuario %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @capacidade_diaria.unidade_socioeducativa %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @capacidade_diaria.capacidade %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @capacidade_diaria.data_referencia %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @capacidade_diaria.usuario %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', capacidades_diarias_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_capacidade_diaria_path(@capacidade_diaria), class: 'btn btn-detran-primary' %>
