<% content_for :title do %>
  <%= t('.title', default: @socioeduk_pedagogico_jovem_disciplina_escolaridade.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_pedagogico_jovem_disciplina_escolaridade.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemDisciplinaEscolaridade.human_attribute_name :socioeduk_pedagogico_jovem %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemDisciplinaEscolaridade.human_attribute_name :socioeduk_disciplina_escolaridade %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemDisciplinaEscolaridade.human_attribute_name :socioeduk_situacao_disciplina %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemDisciplinaEscolaridade.human_attribute_name :data_conclusao %></th>
                                    
                  
                  <th><%= Socioeduk::PedagogicoJovemDisciplinaEscolaridade.human_attribute_name :observacao %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_disciplina_escolaridade.socioeduk_pedagogico_jovem %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_disciplina_escolaridade.socioeduk_disciplina_escolaridade %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_disciplina_escolaridade.socioeduk_situacao_disciplina %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_disciplina_escolaridade.data_conclusao %></td>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_pedagogico_jovem_disciplina_escolaridade.observacao %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_pedagogico_jovem_disciplina_escolaridades_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_pedagogico_jovem_disciplina_escolaridade_path(@socioeduk_pedagogico_jovem_disciplina_escolaridade), class: 'btn btn-success' %>
