<%- model_class = UnidadeSocioeducativa -%>
<% content_for :ibox_content do %>
<h1><%= I18n.t('titles.socioeduk_gestao_vagas') %></h1>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:sigla) %></th>
        <th><%= model_class.human_attribute_name(:nome) %></th>
        <th><%= model_class.human_attribute_name(:endereco) %></th>
        <th width="18%"><%= I18n.t('helpers.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @unidades_socioeducativas.each do |unidade_socioeducativa| %>
        <tr>
          <td><%= unidade_socioeducativa.sigla %></td>
          <td><%= unidade_socioeducativa.nome %></td>
          <td><%= unidade_socioeducativa.endereco %></td>
          <td>
            <%= link_to('<i class="fas fa-door-closed"></i>'.html_safe, {controller: :gestao_vagas, action: :cadastrar_blocos, id:unidade_socioeducativa}, class: "btn btn-primary", title: "Adicionar Blocos e Dormitórios") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>
<%= render partial: 'common/box', locals: { title: I18n.t('activerecord.models.unidade_socioeducativa', default: UnidadeSocioeducativa.model_name.plural.humanize.upcase) } %>
