<h1>Solicicação de Transporte</h1>
<div>
  <dl class="dl-horizontal">
    <dt><b>Transporte para:</b> <span><%= @solicitacao.destinado_para.nome %></span></dt>
    <dt><b>Urgente:</b> <span><%= @solicitacao.urgente.nil? ? 'Não' : 'Sim' %></span></dt>
    <dt><b>Destino:</b> <span><%= @solicitacao.destino %></span></dt>
    <dt><b>Data Transporte:</b> <span><%= @solicitacao.data_transporte %></span></dt>
    <dt><b>Hora Transporte:</b> <span><%= @solicitacao.hora_solicitada&.strftime('%H:%M') %></span></dt>
  </dl>
</div>