<%= form_for(@area, html: { class: 'form-horizontal' }) do |f| %>
<%#= render 'layouts/error_messages', model_name: @area %>
<%= render 'layouts/message_required' %>
<div class="form-group">
  <div class="col-md-1">
    <%= f.label :sigla, class: 'required' %>
    <%= f.text_field :sigla, class: 'form-control' %>
  </div>
  <div class="col-md-7">
    <%= f.label :nome, class: 'required' %>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-8">
    <%= f.label :subarea_id, 'Ãrea Principal' %>
    <%= f.select :subarea_id, Area.all.collect{|a| ["#{a.sigla} - #{a.nome}", a.id]}, {include_blank: 'Selecione'}, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-8">
    <%= f.label :unidade_socioeducativa_id %>
    <%= f.select :unidade_socioeducativa_id, UnidadeSocioeducativa.all.collect{|a| [a.sigla_nome, a.id]}, {include_blank: 'Selecione'}, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-10">
    <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
    <%= link_to I18n.t('helpers.links.cancel'), areas_path, class: 'btn' %>
  </div>
</div>
<% end %>
