<%- model_class = Socioeduk::SolicitacaoVagaInfracao -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_solicitacao_vaga_infracao', default: Socioeduk::SolicitacaoVagaInfracao.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_solicitacao_vaga_infracao', default: Socioeduk::SolicitacaoVagaInfracao.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_solicitacao_vaga_infracao_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:solicitacao_vaga) %></th>
                                    <th><%= model_class.human_attribute_name(:tipo_natureza) %></th>
                                    <th><%= model_class.human_attribute_name(:artigo_infracao) %></th>
                                    <th><%= model_class.human_attribute_name(:pontuacao_continuado) %></th>
                                    <th><%= model_class.human_attribute_name(:estupro_vulneravel) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_solicitacao_vaga_infracoes.each do |socioeduk_solicitacao_vaga_infracao| %>
                <tr>
                                    <td><%= socioeduk_solicitacao_vaga_infracao.solicitacao_vaga&.nome %></td>
                                    <td><%= socioeduk_solicitacao_vaga_infracao.tipo_natureza %></td>
                                    <td><%= socioeduk_solicitacao_vaga_infracao.artigo_infracao&.descricao %></td>
                                    <td><%= socioeduk_solicitacao_vaga_infracao.pontuacao_continuado %></td>
                                    <td><%= socioeduk_solicitacao_vaga_infracao.estupro_vulneravel %></td>
                                    <td>
                    <%= link_to_show(socioeduk_solicitacao_vaga_infracao) %>
                    <%= link_to_edit(edit_socioeduk_solicitacao_vaga_infracao_path(socioeduk_solicitacao_vaga_infracao)) %>
                    <%= link_to_delete(socioeduk_solicitacao_vaga_infracao) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
