<%= form_for(@recursoshumanos_contrato, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @recursoshumanos_contrato %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :recursoshumanos_tipo_legal %>
      <%= f.collection_select :recursoshumanos_tipo_legal_id, Recursoshumanos::TipoLegal.all, :id, :to_s, {prompt: "selecione"} ,{class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :numero %>
      <%= f.number_field :numero, class: 'form-control' %>
    </div>
    <div class="col-sm-5 col-offset-1">
        <%= f.label :ano %>
      <%= f.number_field :ano, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :doe_ce %>
      <%= f.text_field :doe_ce, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :data_doe_ce %>
      <%= f.text_field :data_doe_ce,  class: 'form-control datepicker ' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :pagina_doe_ce %>
      <%= f.number_field :pagina_doe_ce, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :inicio_vigencia %>
      <%= f.text_field :inicio_vigencia,  class: 'form-control datepicker' %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <input type="checkbox" name="box_final_vigencia" id="box_final_vigencia" <%= @checked %> > 
      <%= f.label :final_vigencia %>
      <%= f.text_field :final_vigencia,  class:'form-control datepicker', disabled:"false"%>
    </div> 
  
  </div>
  <div class="">
    <br>  
    <h3>Cargo</h3>
    <%= f.nested_fields_for :recursoshumanos_cargos do |c| %>
      <br>
      <div class="form-group">
        <div class="col-sm-10 col-offset-1">
          <div style="border: #ececec solid 1px; padding-top: 25px; border-radius: 8px;">
            <div class="row typePosition">
              <div class="col-lg-6">
                <%= c.text_field :nome, class: 'form-control' %>
              </div>
              <div class="col-lg-2">
                <%= c.text_field :quantidade , class:'form-control' %>
              </div>
              <div class="col-lg-2">
                
                <%= link_to '<i class="far fa-file-alt"></i>'.html_safe, new_recursoshumanos_cargo_aditivo_path(contrato: c.object.contrato_id, cargo: c.object.id, quantidade: c.object.quantidade), class: 'btn btn btn-info', title: 'Adicionar Edital', style: 'float:left' %>
                <%#= c.label :Deletar %><br>
                <%#= c.hidden_field :id %>
                <%#= c.check_box :_destroy %>
              </div>
            </div>
            
            <% @cargos_aditivo = Recursoshumanos::CargoAditivo.where(recursoshumanos_cargo_id: c.object.id) %>
            <% if !@cargos_aditivo.blank? %>
              <div class="row typePosition">
                <div class="col-lg-12">
                  <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr style="background-color: #ececec">
                        <th wigth=50px colspan=2>Qtd Anterior</th>
                        <th>Alteração</th>
                        <th>Qtd Atual</th>
                        <th>Aditivo</th>
                        <th>Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @cargos_aditivo.each do |cargo_aditivo| %>
                        <tr>
                          <td>
                            <% if cargo_aditivo.operacao == "+" %>
                              <div class="btn btn-sm btn-primary" style="border-radius: 40px;"><i class="fas fa-plus"></i></div>
                            <% elsif cargo_aditivo.operacao == "-" %>
                              <div class="btn btn-sm btn-danger"  style="border-radius: 40px;"><i class="fas fa-minus"></i></div>
                            <% end %>
                          </td>
                          <td style="vertical-align: middle;"><%= cargo_aditivo.qtd_anterior %></td>
                          <td style="vertical-align: middle;"><%= cargo_aditivo.operacao %> <%= cargo_aditivo.qtd_adicionado %></td>
                          <td style="vertical-align: middle;"><%= cargo_aditivo.qtd_atual %></td>
                          <td style="vertical-align: middle;"><%= cargo_aditivo.recursoshumanos_aditivo %></td>
                          <td style="vertical-align: middle;"><%= link_to image_tag("pdf_preview.png", size: "30x30",style: "margin: 0px 2px 5px 0px;"), cargo_aditivo.recursoshumanos_aditivo.anexo.url,  target: '_blank' %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      
    <% end %>
    <%= f.add_nested_fields_link :recursoshumanos_cargos, 'Adicionar Vaga' , class:"btn btn-success" %>
    <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
    <%= link_to I18n.t('helpers.links.cancel'), recursoshumanos_contratos_path, class: 'btn btn-danger' %>
  </div>
<% end %>
