<br>
<%= search_form_for @q do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-5">
        <%= f.search_field :socioeduk_jovem_nome_cont, placeholder: "Nome", class: "form-control" %>
      </div>
      <div class="col-sm-3">
        <%= f.collection_select :unidade_socioeducativa_id_eq, UnidadeSocioeducativa.all, :id, :nome, {include_blank: true, prompt: "Unidade Socioeducativa"}, class: "form-control select2" %>
      </div>
       
      <%= f.submit 'Buscar', class: "btn btn-primary" %>
      <%= link_to "Limpar",   socioeduk_alojamento_jovens_path, class:"btn btn-warning" %>
    </div>
  </div>
<% end %>