<%= form_for(@socioeduk_alojamento_jovem, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @socioeduk_alojamento_jovem %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :socioeduk_jovem %>
      <%= f.collection_select :socioeduk_jovem_id, Socioeduk::Jovem.all, :id, :nome_concat_mae, {include_blank: '--selecione--'}, class: 'form-control select2' %>    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :unidade_socioeducativa %>
      <%= f.collection_select :unidade_socioeducativa_id, UnidadeSocioeducativa.all, :id, :nome, {include_blank: '--selecione--'}, class: 'form-control' %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :socioeduk_bloco %>
      <%= f.collection_select :socioeduk_bloco_id, Socioeduk::Bloco.all, :id, :descricao , {include_blank: '--selecione--'}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :socioeduk_quarto %>
      <%= f.collection_select :socioeduk_quarto_id, Socioeduk::Quarto.all, :id, :descricao,  {include_blank: '--selecione--'}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.check_box :utilizar_exedente_vaga %>
      <%= f.label :utilizar_exedente_vaga %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :justifica %>
      <%= f.text_field :justifica, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-offset-1">
      <%= f.label :tamanho_roupa %>
      <%= f.text_field :tamanho_roupa, class: 'form-control' %>
    </div>
    <div class="col-sm-5 col-offset-1">
      <%= f.label :tamanho_cacaldo %>
      <%= f.text_field :tamanho_cacaldo, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :numero_kit %>
      <%= f.text_field :numero_kit, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), socioeduk_alojamento_jovens_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
