<% content_for :title do %>
  <%= t('.title', default: @socioeduk_cor_olho.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_cor_olho.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                                    <th><%= Socioeduk::CorOlho.human_attribute_name :descricao %></th>
                                  </tr>
              </thead>
              <tbody>
                <tr>
                                    <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_cor_olho.descricao %></td>
                                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_cor_olhos_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_cor_olho_path(@socioeduk_cor_olho), class: 'btn btn-detran-primary' %>
