<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name"><%= sigla_sistema %></h1>

    </div>
    <h3>Bem vindo ao <%= sigla_sistema %></h3>
    <p>
      Um sistema completo e desenvolvido especialmente para você.
    </p>
    <p>Autentique-se.</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "m-t" }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail', required: 'required' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
      <%= f.check_box :remember_me, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Lembrar-me</span>
    </label>
    <% end -%>
    <div>
      <%= flash[:recaptcha_error] %>
    </div>
    <div>
      <%= recaptcha_tags %>
    </div>
    <%= f.submit "Entrar", class: "btn btn-primary block full-width m-b" %>
    <% end %>
    <p class="m-t"> <small>Governo do Estado do Ceará &copy; 2017</small> </p>
  </div>
</div>



