<%- model_class = CategoriaPatrimonio -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.categoria_patrimonio', default: CategoriaPatrimonio.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.categoria_patrimonio', default: CategoriaPatrimonio.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_categoria_patrimonio_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:nome) %></th>
                  <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @categoria_patrimonios.each do |categoria_patrimonio| %>
                <tr>
                  <td><%= categoria_patrimonio.nome.upcase %></td>
                  <td>
                    <%= link_to_show(categoria_patrimonio) %>
                    <%= link_to_edit(edit_categoria_patrimonio_path(categoria_patrimonio)) %>
                    <%= link_to_delete(categoria_patrimonio) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @categoria_patrimonios %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
