<%= form_for(@cidade, html: { class: 'form-horizontal' }) do |f| %>
  <%#= render 'layouts/error_messages', model_name: @cidade %>
  <%= render 'layouts/message_required' %>
  <div class="form-group">
    <div class="col-sm-6 col-offset-1">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
    <div class="col-sm-6 col-offset-1">
      <%= f.label :regiao_pai %>
      <%= f.collection_select :regiao_pai, Cidade.where('id in (678,718,786,696)'), :id, :nome, {include_blank: '--selecione--'}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :capital %>
      <%= f.check_box :capital, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-offset-1">
      <%= f.label :estado %>
      <%#= f.text_field :estado, class: 'form-control' %>
      <%= f.collection_select :estado_id, Estado.all, :id, :nome, {include_blank: '--selecione--'}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: disable_with } %>
      <%= link_to I18n.t('helpers.links.cancel'), cidades_path, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
