<%- model_class = Socioeduk::JovemTransferencia -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.socioeduk_jovem_transferencia', default: Socioeduk::JovemTransferencia.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.socioeduk_jovem_transferencia', default: Socioeduk::JovemTransferencia.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_socioeduk_jovem_transferencia_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:socioeduk_jovem) %></th>
                                    <th><%= model_class.human_attribute_name(:unidade_socioeducativa) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @socioeduk_jovem_transferencias.each do |socioeduk_jovem_transferencia| %>
                <tr>
                                    <td><%= socioeduk_jovem_transferencia.socioeduk_jovem.nome %></td>
                                    <td><%= socioeduk_jovem_transferencia.unidade_socioeducativa %></td>
                                    <td>
                    <%= link_to_show(socioeduk_jovem_transferencia) %>
                    <%= link_to_edit(edit_socioeduk_jovem_transferencia_path(socioeduk_jovem_transferencia)) %>
                    <%= link_to_delete(socioeduk_jovem_transferencia) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
