<% content_for :ibox_content do %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= Eixo.human_attribute_name :nome %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="min-width: 90px; word-break: break-all;"><%= @eixo.nome %></td>
    </tr>
  </tbody>
</table>
<%= link_to('Listar', eixos_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_eixo_path(@eixo), class: 'btn btn-detran-primary' %>
<% end -%>
<%= render partial: 'common/box', locals: { title: t('.title', default: @eixo.class.model_name.human ) } %>
