<% content_for :title do %>
  <%= t('.title', default: @solicitacao_patrimonio.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @solicitacao_patrimonio.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><%= SolicitacaoPatrimonio.human_attribute_name :numero_solicitacao %></th>
                  <th><%= SolicitacaoPatrimonio.human_attribute_name :numero_processo %></th>
                  <th><%= SolicitacaoPatrimonio.human_attribute_name :solicitante %></th>
                  <th><%= SolicitacaoPatrimonio.human_attribute_name :justificativa %></th>
                  <th><%= SolicitacaoPatrimonio.human_attribute_name :observacao %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="min-width: 90px; word-break: break-all;"><%= @solicitacao_patrimonio.id %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @solicitacao_patrimonio.numero_processo %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @solicitacao_patrimonio.usuario_solicitante.nome %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @solicitacao_patrimonio.justificativa %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @solicitacao_patrimonio.observacao %></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <h3>Item(s) Solicitado(s)</h3>
              <thead>
                <th>Item</th>
                <th class="center">Quantidade Solicitada</th>
                <th class="center">Quantidade Entregue</th>
              </thead>
              <tbody>
                <% @itens_solicitacao_patrimonio.each do |item, quantidade_disponivel| %>
                  <tr>
                    <td><%= item.item_patrimonio.nome %></td>
                    <td class="center"><%= item.quantidade_solicitada %></td>
                    <td class="center"><%= item.quantidade_entregue %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', solicitacao_patrimonios_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_solicitacao_patrimonio_path(@solicitacao_patrimonio), class: 'btn btn-success' %>
