<%= form_for(:frm, :url => {action: :editar_medida_meio_aberto}, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :socioeduk_jovem_recepcao_id, :value => params[:jovem_recepcao_id].to_i %>
  <% jovemrecepcao = Socioeduk::JovemRecepcao.find(params[:jovem_recepcao_id].to_i) %>
  <% processo = Socioeduk::Processo.with_deleted.where('socioeduk_jovem_recepcao_id = ' + jovemrecepcao.id.to_s) %>
  <%# if processo[0].nil? %>
  <% a = 1 %>
  <% if a = 1 %>
    <div id="form_dados">
      <div class="form-group">
        <div class="col-sm-12 col-offset-1">
          <label class="required">Tipo medida</label>
          <%= f.collection_select :socioeduk_tipo_medida_socioeducativa_id, Socioeduk::TipoMedidaSocioeducativa.where(tipo_medida: "ABERTO"), :id, :descricao, {include_blank: '--selecione--', selected: jovemrecepcao.socioeduk_tipo_medida_socioeducativa_id}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 col-offset-1">
          <label class="required">Data saída</label>
          <%= f.text_field :data_movimentacao, class: 'form-control' %>
        </div>
      </div>
    </div>
    <% if !jovemrecepcao.status? %>
    <div class="form-group">
      <div class="col-sm-3 col-offset-1">
        <label>Reverter para a recepção</label>
        <%= f.check_box :reativar_recepcao, class: 'form-control' %>
      </div>
    </div>
    <% end %>
    <div id="form_dados_reversao" style="display:none">
      <label>Motivo da Reversão</label>
      <%= f.text_area :motivo_reversao, class: 'form-control',style:"height: 90px;" %>
    </div>
    <div class="form-group">
      <div class="col-sm-12"><br>
        <%= f.submit "Salvar", class: 'btn btn-primary', data: { disable_with: disable_with }, id: "btn_salvar" %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-danger">Impossível realizar alteração ou reversão, porque o processo <b><%= processo[0].id %></b> foi criado. Favor entrar em contato com setor jurídico</div>
  <% end %>
<% end %>


<script>
  $(document).ready(function() {
    $("#frm_data_movimentacao").mask("99/99/9999");
  });

  
  $("#frm_motivo_reversao").blur(function(){
    if($("#frm_motivo_reversao").val() != "")
      $('#btn_salvar').prop("disabled", false);
    else
      $('#btn_salvar').prop("disabled", true);
  });

  $('#frm_reativar_recepcao').click(function() {
    if(this.checked) {
      $('#btn_salvar').prop("disabled", true);
      $('#form_dados').fadeOut().removeClass('displaytype');
      $('#form_dados_reversao').fadeIn().css('display', 'block');
    } else {
      $('#btn_salvar').prop("disabled", false);
      $('#form_dados').fadeIn().css('display', 'block');
      $('#form_dados_reversao').fadeOut().removeClass('displaytype');
    }
  })
</script>