<%- model_class = ServicoRealizado -%>
<% content_for :title do %>
  <%=  I18n.t('activerecord.models.servico_realizado', default: ServicoRealizado.model_name.human.pluralize.upcase) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.servico_realizado', default: ServicoRealizado.model_name.human.pluralize.upcase) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_servico_realizado_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                 <th><%= model_class.human_attribute_name(:unidade_socioeducativa_id) %></th>
                 <th><%= model_class.human_attribute_name(:qtd_socioeducandos_atendidos) %></th>
                 <th><%= model_class.human_attribute_name(:eixo_id) %></th>
                 <th><%= model_class.human_attribute_name(:gestor_eixo_id) %></th>
                 <th><%= model_class.human_attribute_name(:gestor_unidade_id) %></th>
                 <th><%= model_class.human_attribute_name(:area_id) %></th>
                 <th><%= model_class.human_attribute_name(:gestor_area_id) %></th>
                 <th><%= model_class.human_attribute_name(:servico_id) %></th>
                 <th>Qtd / Meta</th>
                 <th><%= model_class.human_attribute_name(:desempenho_meta) %></th>
                 <th width="18%"><%= I18n.t('helpers.actions') %></th>
               </tr>
             </thead>
             <tbody>
              <% @servicos_realizados.each do |servico_realizado| %>
              <tr>
                <td><%= servico_realizado.unidade_socioeducativa&.sigla_nome %></td>
                <td><%= servico_realizado.qtd_socioeducandos_atendidos %></td>
                <td><%= servico_realizado.eixo&.nome %></td>
                <td><%= servico_realizado.gestor_eixo&.nome_pessoa %></td>
                <td><%= servico_realizado.gestor_unidade&.nome_pessoa %></td>
                <td><%= servico_realizado.area&.nome %></td>
                <td><%= servico_realizado.gestor_area&.nome_pessoa %></td>
                <td><%= servico_realizado.servico&.nome %></td>
                <td><%= "#{servico_realizado.quantidade_realizados} / #{servico_realizado.meta}" %></td>
                <td><%= "#{servico_realizado.desempenho_meta}%" %></td>
                <td>
                  <%= link_to_show(servico_realizado) %>
                  <%= link_to_edit(edit_servico_realizado_path(servico_realizado)) %>
                  <%= link_to_delete(servico_realizado) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

