<% content_for :title do %>
  <%= t('.title', default: @socioeduk_endereco.class.model_name.human ) %>
<% end -%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.title', default: @socioeduk_endereco.class.model_name.human ) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><%= Socioeduk::Endereco.human_attribute_name :cep %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :logradouro %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :numero %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :bairro %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :complemento %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :cidade %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :estado %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :ponto_referencia %></th>
                  <th><%= Socioeduk::Endereco.human_attribute_name :tipo %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.cep %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.logradouro %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.numero %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.bairro %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.complemento %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.cidade %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.estado %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.ponto_referencia %></td>
                  <td style="min-width: 90px; word-break: break-all;"><%= @socioeduk_endereco.tipo_contato&.descricao %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to('Listar', socioeduk_enderecos_path, class: 'btn btn-default') %>
<%= link_to 'Editar', edit_socioeduk_endereco_path(@socioeduk_endereco), class: 'btn btn-detran-primary' %>
