<%- model_class = Material -%>
<div class="page-header" style="border: none">
  <h3><%=  I18n.t('activerecord.models.material', default: Material.model_name.human.pluralize.upcase) %></h3>
  <hr/>
  <%= link_to_new new_material_path %>
</div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
       <th><%= model_class.human_attribute_name(:nome) %></th>
       <th><%= model_class.human_attribute_name(:descricao) %></th>
       <th><%= model_class.human_attribute_name(:grupo_material) %></th>
       <th><%= model_class.human_attribute_name(:classe_material) %></th>
       <th><%= model_class.human_attribute_name(:quantidade) %></th>
       <th><%= model_class.human_attribute_name(:unidades_medida) %></th>
      <th width="18%"><%= I18n.t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @materiais.each do |material| %>
      <tr>
        <td><%= material.nome %></td>
        <td><%= material.descricao %></td>
        <td><%= material.grupo_material %></td>
        <td><%= material.classe_material %></td>
        <td><%= material.quantidade %></td>
        <td><%= material.unidades_medida %></td>
        <td>
          <%= link_to_show(material) %>
          <%= link_to_edit(edit_material_path(material)) %>
          <%= link_to_delete(material) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
