<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
      <span class=" label label-success pull-right"><%= "#{l @data, format: :month_name}/#{@data.year}" %></span>
      <h4>Bens</h4>
      <div class="caption">
        <div class="ibox-content">
          <h1 class="no-margins"><%= @bens.count %></h1>
          <small>Quantidade</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="thumbnail">      
      <span class="label label-info pull-right"><%= "#{l @data, format: :month_name}/#{@data.year}" %></span>
      <h4>Entradas</h4>
      <div class="caption">
        <div class="ibox-content">
          <h1 class="no-margins"><%= @bens_entradas.count %></h1>
          <small>Quantidade</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="thumbnail">
      <span class="label label-danger pull-right"><%= "#{l @data, format: :month_name}/#{@data.year}" %></span>            
      <h4>Saídas</h4>
      <div class="caption">
        <div class="ibox-content">
          <h1 class="no-margins">0</h1>
          <small>Quantidade</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="thumbnail">
      <span class="label label-primary pull-right"><%= "#{l @data, format: :month_name}/#{@data.year}" %></span>
      <h4>Movimentações</h4>
      <div class="caption">
        <div class="ibox-content">
          <h1 class="no-margins">0</h1>
          <small>Quantidade</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="thumbnail">
      <table class="table table-hover no-margins">
        <thead>
          <tr style="background: #778899; color: white;">
            <th>Categoria</th>
            <th class="text-center">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <% @bens_categoria.each do |k, v| %>
            <tr>
              <td><%= k.nil? ? 'Não Informado' : k %></td>
              <td class="text-center"><%= v %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="thumbnail">
      <table class="table table-hover no-margins">
        <thead>
          <tr style="background: #778899; color: white;">
            <th>Local</th>
            <th>Categoria</th>
            <th class="text-center">Quantidade</th>
          </tr>
        </thead>
        <% @bens_localizacao.each do |bem| %>
          <tr>
            <td><%= bem.local.nil? ? "Não Informado" : bem.local %></td>
            <td><%= bem.categoria.nil? ? "Não Informado" : bem.categoria %></td>
            <td class="text-center"><%= bem.quantidade %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>