<%- model_class = Urlbm::StatusMap -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.urlbm_status_map', default: Urlbm::StatusMap.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.urlbm_status_map', default: Urlbm::StatusMap.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_urlbm_status_map_path, class: "btn btn-w-m btn-success" %>
            <%= link_to 'Retornar Mapa', urlbm_mapas_path, class: "btn btn-w-m btn-success" %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:nome_status) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @urlbm_status_maps.each do |urlbm_status_map| %>
                <tr>
                                    <td><%= urlbm_status_map.nome_status %></td>
                                    <td>
                    <%= link_to_show(urlbm_status_map) %>
                    <%= link_to_edit(edit_urlbm_status_map_path(urlbm_status_map)) %>
                    <%= link_to_delete(urlbm_status_map) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
