<%- model_class = Recursoshumanos::JustificativaAditivo -%>
<% content_for :title do %>
<%=  I18n.t('activerecord.models.recursoshumanos_justificativa_aditivo', default: Recursoshumanos::JustificativaAditivo.model_name.human.pluralize.titleize) %>
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=  I18n.t('activerecord.models.recursoshumanos_justificativa_aditivo', default: Recursoshumanos::JustificativaAditivo.model_name.human.pluralize.titleize) %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <%= link_to_new new_recursoshumanos_justificativa_aditivo_path %>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                                    <th><%= model_class.human_attribute_name(:descricao) %></th>
                                    <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @recursoshumanos_justificativa_aditivos.each do |recursoshumanos_justificativa_aditivo| %>
                <tr>
                                    <td><%= recursoshumanos_justificativa_aditivo.descricao %></td>
                                    <td>
                    <%= link_to_show(recursoshumanos_justificativa_aditivo) %>
                    <%= link_to_edit(edit_recursoshumanos_justificativa_aditivo_path(recursoshumanos_justificativa_aditivo)) %>
                    <%= link_to_delete(recursoshumanos_justificativa_aditivo) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
