<%- model_class = Recursoshumanos::Vinculo -%>
<% content_for :title do %>
    Desligamento
<% end -%>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Desligamento</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12 b-r">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:data_inicio) %></th>
                  <th><%= model_class.human_attribute_name(:recursoshumanos_cargo) %></th>
                  <th><%= model_class.human_attribute_name(:pessoas) %></th>
                  <th width="18%"><%= I18n.t('helpers.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @recursoshumanos_vinculos.each do |recursoshumanos_vinculo| %>
                <tr>
                  <td><%= recursoshumanos_vinculo.data_inicio %></td>
                  <td><%= recursoshumanos_vinculo.recursoshumanos_cargo %></td>
                  <td><%= recursoshumanos_vinculo.pessoas %></td>
                  <td>
                    <%#= link_to_delete(recursoshumanos_vinculo, {data: {confirm: 'Você tem certeza que deseja desligar essa pessoa?'}}) %>
                    <%= link_to(content_tag(:i, nil, class: "fas fa-power-off"), {controller: :vinculos, action: :desligar_colaborador, vinculo_id: recursoshumanos_vinculo.id}, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: "btn btn-sm btn-danger", title: "Desligar colaborador", onclick: 'executar_mascaras_campos()') %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
