<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <%= render 'layouts/navigation_header' %>
      <li class="<%= is_active_controller('dashboard_patrimonio/index') %>">
        <%= link_to  dashboard_patrimonio_index_path do %>
          <i class="fa fa-chart-line"></i><span class="nav-label"><%= I18n.t("activerecord.models.dashboard_patrimonio") %></span>
        <% end %>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= current_class?(categoria_patrimonios_path) %>">
            <%= link_to categoria_patrimonios_path do %>
              <i class="fa fa-object-ungroup"></i>
              <span>Categorias</span>
              <% end %>
          </li>
          <li class="<%= current_class?(grupo_patrimonios_path) %>">
            <%= link_to grupo_patrimonios_path do %>
            <i class="fa fa-object-group"></i><span>Grupos</span>
            <% end %>
          </li>
          <li class="<%= current_class?(classe_patrimonios_path) %>">
            <%= link_to classe_patrimonios_path do %>
            <i class="fa fa-window-restore"></i><span>Classes</span>
            <% end %>
          </li>
          <li class="<%= current_class?(depositos_path) %>">
            <%= link_to depositos_path do %>
            <i class="fa fa-university" aria-hidden="true"></i><span>Dépositos</span>
            <% end %>
          </li>
          <li class="<%= current_class?(status_patrimonios_path) %>">
            <%= link_to status_patrimonios_path do %>
            <i class="fa fa-check" aria-hidden="true"></i><span>Status do Bem</span>
            <% end %>
          </li>
          <li class="<%= current_class?(tipo_patrimonios_path) %>">
            <%= link_to tipo_patrimonios_path do %>
            <i class="fa fa-tag" aria-hidden="true"></i><span>Tipo do Patrimônio</span>
            <% end %>
          </li>
          <li class="<%= current_class?(item_patrimonios_path) %>">
            <%= link_to item_patrimonios_path do %>
            <i class="fab fa-codepen" aria-hidden="true"></i><span>Item Patrimonial</span>
            <% end %>
          </li>
          <li class="<%= current_class?(patrimonios_path) %>">
            <%= link_to patrimonios_path do %>
            <i class="fa fa-barcode" aria-hidden="true"></i><span>Bens Patrimoniais</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Planejamento</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li class="#">
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Solicitações</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= current_class?(new_solicitacao_patrimonio_path) %>">
            <%= link_to new_solicitacao_patrimonio_path do %>
            <i class="fa fa-share-square" aria-hidden="true"></i><span>Solicitar</span>
            <% end %>
          </li>
          <li class="<%= current_class?(solicitacao_patrimonios_path) %>">
            <%= link_to solicitacao_patrimonios_path do %>
              <i class="fa fa-list-ol" aria-hidden="true"></i><span>Lista de Solicitações</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Movimentações</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li class="#">
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Informações</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= current_class?(local_armazenamentos_path) %>">
            <%= link_to estoque_patrimonio_index_path do %>
            <i class="fa fa-cubes" aria-hidden="true"></i><span>Estoque</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>