<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <%= render 'layouts/navigation_header' %>

      <li class="active">
        <a href="#"><i class="fa fa-map-signs"></i>
          <span class="nav-label" data-i18n="nav.menulevels">Solicitações</span><span class="fa arrow"></span></a>
       
          <ul class="nav nav-second-level collapse">
          <li class="<%= 'active' if current_page?( new_solicitacao_transporte_path) %>">
            <%= link_to new_solicitacao_transporte_path do %>
            <i class="fas fa-edit"></i><span class="nav-label">Solicitar</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(solicitacao_transportes_path) %>">
            <%= link_to solicitacao_transportes_path do %>
            <i class="fas fa-folder-open"></i><span class="nav-label">Acompanhar</span>
            <% end %>
          </li>
          <% if current_usuario.try(:pessoa).try(:possui_funcao?, 'Gestor de transporte') %>
          <li class="<%= 'active' if current_page?(mapa_de_bordos_path) %>">
            <%= link_to mapa_de_bordos_path do %>
            <i class="fas fa-folder-open"></i><span class="nav-label">Mapa de Bordo</span>
            <% end %>
          </li>
          <% end %>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fas fa-paste"></i> <span class="nav-label"
            data-i18n="nav.menulevels">Cadastrar</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= 'active' if current_page?(tipo_solicitacao_transportes_path) %>" style="display: none">
            <%= link_to tipo_solicitacao_transportes_path do %>
            <i class="fa fa-road"></i><span class="nav-label">Tipos de Solicitações</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(marca_veiculos_path) %>" style="display: none">
            <%= link_to marca_veiculos_path do %>
            <i class="far fa-edit"></i><span class="nav-label">Marcas</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(modelos_marcas_path) %>" style="display: none">
            <%= link_to modelos_marcas_path do %>
            <i class="far fa-edit"></i><span class="nav-label">Modelos</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(motoristas_path) %>">
            <%= link_to motoristas_path do %>
            <i class="far fa-folder-open  "></i><span class="nav-label">Motoristas</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(veiculos_path) %>">
            <%= link_to veiculos_path do %>
            <i class="far fa-edit"></i><span class="nav-label">Veículos</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(tipo_de_combustiveis_path) %>" style="display: none">
            <%= link_to tipo_de_combustiveis_path do %>
            <i class="far fa-edit"></i><span class="nav-label">Combustíveis</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(posto_combustiveis_path) %>">
            <%= link_to posto_combustiveis_path do %>
            <i class="far fa-edit"></i><span class="nav-label">Postos</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label"
            data-i18n="nav.menulevels">Manutenção</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= 'active' if current_page?(tipo_solicitacao_transportes_path) %>">
            <%= link_to tipo_solicitacao_transportes_path do %>
            <i class="fa fa-pencil"></i><span class="nav-label">Regsitrar</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(marca_veiculos_path) %>">
            <%= link_to marca_veiculos_path do %>
            <i class="fa fa-exclamation-triangle  "></i><span class="nav-label">Acompanhar</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-info-circle"></i> <span class="nav-label"
            data-i18n="nav.menulevels">Informações</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= 'active' if current_page?(tipo_solicitacao_transportes_path) %>">
            <%= link_to tipo_solicitacao_transportes_path do %>
            <i class="fa fa-inbox"></i><span class="nav-label">Relatorios</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(marca_veiculos_path) %>">
            <%= link_to marca_veiculos_path do %>
            <i class="fa fa-bell"></i><span class="nav-label">Indicadores</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>