<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <%= render 'layouts/navigation_header' %>
      <li class="active">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level nav-link">
          <li class="<%= current_class?(grupo_materiais_path) %>">
            <%= link_to grupo_materiais_path do %>
            <i class="fa fa-object-group"></i><span>Grupos</span>
            <% end %>
          </li>
          <li class="<%= current_class?(classe_materiais_path) %>">
            <%= link_to classe_materiais_path do %>
            <i class="fa fa-window-restore"></i><span>Classes</span>
            <% end %>
          </li>
          <li class="<%= current_class?(unidades_medidas_path) %>">
            <%= link_to unidades_medidas_path do %>
            <i class="fa fa-balance-scale" aria-hidden="true"></i><span>Unidades de Medida</span>
            <% end %>
          </li>
          <li class="<%= current_class?(local_armazenamentos_path) %>">
            <%= link_to local_armazenamentos_path do %>
            <i class="fa fa-archive"></i><span>Locais de Armazenamento</span>
            <% end %>
          <li class="<%= current_class?(materiais_path) %>">
            <%= link_to materiais_path do %>
            <i class="fa fa-cart-plus" aria-hidden="true"></i><span>Bens de Consumo</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Planejamento</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Solicitações</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Movimentações</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
        </ul>
      </li>
      <li class="">
        <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Informações</span>
          <span class="pull-right-container">
            <i class="fa pull-right"></i>
          </span>
        </a>
        <ul class="nav nav-second-level collapse">
        </ul>
      </li>
    </ul>
  </div>
</nav>