<!DOCTYPE html>
<html>
<head>
  <title><%= nome_sistema %></title>

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="canvas-menu">

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">
      <%= render 'layouts/topnavbar_clean' %>
      <%= render partial: 'layouts/flash_messages' %>

      <!-- Main view  -->
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox" id="box-loading">

            <%= yield %>

        </div>
      </div>

      <!-- Footer -->
      <%= render 'layouts/footer' %>

    </div>
    <!-- End page wrapper-->

</body>
</html>
<script type="text/javascript">
  root_path = '<%= root_path %>';
  $('body.canvas-menu .sidebar-collapse').slimScroll({
    height: '100%',
    railOpacity: 0.9
  });
</script>
